.main-about {
  padding-top: 30px;
  box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.106);

  .profile {
    @include column-flexbox;
    padding: 10px;

    &-image {
      position: relative;
      width: 90%;
      border-radius: 500px;
      margin-bottom: 10px;
      cursor: pointer;

      .profile-animation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        span {
          position: absolute;
          width: 104%;
          height: 104%;
          border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
          top: 0;
          left: 0;
          background-color: #f9e400;

          &:nth-child(1) {
            animation: circle 6s linear infinite;
            opacity: 0.5;
          }

          &:nth-child(2) {
            animation: circle 3s linear infinite;
          }
        }

      }

      .image {
        position: relative;
        width: 100%;
        border-radius: 500px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 500px;
        background-color: rgba(255, 255, 255, 0.676);
        opacity: 0;
        line-height: 1.7em;
        transition: opacity .3s;

        div {
          @include pos-center;
          width: 100%;
          padding: 0 30px;
          display: inline-block;
          font-weight: 700;
          text-align: center;
        }

        i {
          color: #333;

          &:first-child {
            font-size: 14px;
          }

          font-style: normal;
          display: inline-block;
          margin-right: 10px;
        }
      }


      &:hover {
        .info {
          opacity: 1;
        }
      }
    }

    &-desc {
      margin-top: 30px;

      h2 {
        margin-bottom: 20px;
        line-height: 1.3em;
        text-align: center;
      }

      p {
        line-height: 1.4em;
        font-size: 15px;
      }
    }
  }

  @include responsive(T) {
    padding-top: 65px;

    .profile {
      flex-direction: row;

      &-image {
        width: 100%;
        max-width: 330px;
        margin-right: 50px;
      }

      &-desc {
        flex: 1;
        margin-top: 0;

        h2 {
          font-size: 30px;
          text-align: left;
        }

        p {
          font-size: 15.5px;
        }
      }
    }
  }

  @include responsive(D) {
    padding-top: 90px;

    .profile {

      &-image {
        margin-left: 50px;
        margin-right: 70px;
        max-width: 450px;

        // &::before {
        //   top: 50px;
        //   left: -50px;
        // }

        .info {
          div {
            font-size: 22px;
            font-weight: 500;
            line-height: 1.7em;
            text-align: left;
            padding-left: 80px;
          }

          i {
            font-size: 23px;

            &:first-child {
              font-size: 19px;
            }
          }
        }
      }

      &-desc {
        flex: 1;
        margin-top: 0;

        h2 {
          font-size: 40px;
          line-height: 1.3em;
        }

        p {
          margin-top: 40px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}