.main-project {
  .project {
    &-item {
      &:nth-child(1) {
        .number {
          color: #ddd;
        }
      }

      .image {
        position: relative;
        top: -33px;
        left: 30px;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }

    .number {
      font-size: 90px;
      font-family: 'Vesper Libre', serif;
      font-weight: 900;
      letter-spacing: -0.05em;
      color: #fff;
    }

    .text-box {
      @include column-flexbox(center, start);
      // border: 1px solid red;
      position: relative;
      bottom: 35px;
      left: 10px;
      // height: ;

      .name {
        // display: block;
        font-size: 25px;
        margin-bottom: 10px;
      }

      span {
        // display: block;
        line-height: 1.3em;
      }

      .btns {
        // border: 1px solid red;
        padding: 15px 0;

        a {
          &:hover,
          &:active {
            background-color: #fff;
            color: #333;
          }

          background-color: orange;
          color: #fff;
          padding: 5px 15px;
          border-radius: 20px;
          transition: .3s;
        }
      }
    }
  }

  .publishing {
    background: url('/images/bgc-circle.png') no-repeat top 50px right;
  }

  .script {
    background: url('/images/bgc-circle.png') no-repeat top -60px left;

    .project {
      &-item {
        &:nth-child(2) {
          .text-box1 {
            .number {
              color: #fff;
            }
          }
        }

        .image {
          position: relative;
          top: -33px;
          left: -90px;
        }
      }

      .number {
        text-align: right;
      }
    }
  }

  @include responsive(T) {
    .publishing {
      background: url('/images/bgc-circle.png') no-repeat top -30px right;
      background-size: 450%;
    }

    .script {
      background: url('/images/bgc-circle.png') no-repeat top 130px left;

      .project {
        &-item {
          &:first-child {
            .number {
              color: #ddd;
            }
          }

          .image {
            position: static;
          }
        }

        .number {
          text-align: left;
        }
      }
    }

    .project {
      &-item {
        min-height: 850px;

        .image {
          position: static;
        }
      }

      .number {
        font-size: 130px;
      }

      .text-box {
        bottom: 30px;
        left: 0;

        .name {
          font-size: 35px;
          margin-bottom: 15px;
        }

        .btns {
          padding: 30px 0;

          a {
            font-size: 23px;
            padding: 7px 30px;
          }
        }
      }
    }

  }
}