.parallax {
  @include flexbox;
  position: relative;
  height: 100vh;
  z-index: -1;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: url('/images/bg13.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: contrast(1.2);
    box-shadow: 0px 0px 8px rgb(255 255 255 / 70%);
    overflow: hidden;

    .floating {
      position: absolute;
      opacity: 0.4;

      &-01 {
        width: 700px;
        top: -10%;
        left: -20%;
      }

      &-02 {
        width: 700px;
        top: -2%;
        right: -33%;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }


  @media all and (min-width: 768px) and (max-width: 1199px) {

    .background {
      .floating {
        &-01 {
          top: -15%;
          left: -40%;
        }
        &-02 {
          top: -2%;
          right: -75%;
        }
      }
    }
  }

  @include responsive(T) {
    @include flexbox(start);
  }
}