.social {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: $social-level;

  &-item {
    a {
      @include flexbox;
      color: #fff;
      width: 52px;
      height: 52px;
      font-size: 27px;
      transition: 0.3s;

      &:active,
      &:hover {
        color: #f9e400;
      }
    }
  }

  @include responsive(D) {
    left: 5%;
  }
}