.social {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: $social-level;
  overflow: hidden;
  // border: 1px solid white;

  &-list {
    // border: 1px solid red;
    transform: translate3d(-100%, 0, 0);
    animation: ani4 1s 1s;
    animation-fill-mode: both;
  }

  @keyframes ani4 {
    100% {
      transform: translate3d(0px, 0, 0);
    }
  }

  &-item {
    a {
      @include flexbox;
      color: #fff;
      width: 52px;
      height: 52px;
      font-size: 27px;
      transition: 0.3s;

      &:active,
      &:hover {
        color: #f9e400;
      }
    }
  }

  @include responsive(D) {
    left: 5%;
  }
}