.btns {
  a,
  button {
    display: inline-block;

    &:active,
    &:hover {
      background-color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.595);
      color: #333;
    }

    height: 40px;
    padding: 0 20px;
    margin: 0 3px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    line-height: 38px;
    border-radius: 20px;
    transition: .3s;
    background-color: orange;
    border: 1px solid transparent;
    color: #fff;
  }

  @include responsive(D) {
    a, button {
      height: 45px;
      line-height: 45px;
      padding: 0 30px;
      border-radius: 25px;
    }
  }
}