/* Please ❤ this if you like it! */

@import './common.scss';

@import './constants/grid';
@import './constants/colors';
@import './constants/breakpoints';
@import './constants/z-indexes';

@import './base/reset';
@import './base/global';

@import './mixins/flexbox';
@import './mixins/responsive';
@import './mixins/position';

@import './modules/button-group';

@import './components/parallax';
@import './components/visual-content';
@import './components/main-about';
@import './components/main-skill';
@import './components/main-portfolio';
@import './components/popup';
@import './components/main-contact';

@import './layouts/grid';
@import './layouts/header';


@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  overflow-x: hidden;
}

main {
  margin-top: 100vh;

  @include responsive(D) {
    margin-top: 0;
  }
}

section {
  padding: 50px 0;

  @include responsive(T) {
    padding: 80px 0;
  }

  @include responsive(D) {
    padding: 100px 0;
    padding-bottom: 150px;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.title {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(251, 126, 36);
  font-size: 40px;
  font-weight: 900;
  font-family: "Playfair Display", serif;

  @include responsive(T) {
    font-size: 55px;
    margin-bottom: 50px;
  }

  @include responsive(D) {
    font-size: 60px;
  }
}